<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css(.tmp) rg-slider.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/demo.css">
  </head>
  <body ng-app="rangeSlider">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->




<div class="rg-demo-wrapper">


    <div class="exp-step" ng-if="true">
        <i>Example with step<br><br></i>
        <rg-slider tracker-class="my-tracker rg-tracker-with-animation"
                navigator-class="my-navigator"
                bound-var="sliderValue"
                show-navigator="true"
                step="10"
             ></rg-slider>

    <p class="bounded-value">Slider value: <b> {{sliderValue}}</b></p>
    </div>

    <div class="exp-step" ng-if="true">
        <i>Example with navigator from / to <br><br></i>
        <rg-slider tracker-class="my-tracker rg-tracker-with-animation"
                   navigator-class="my-navigator"
                   bound-var="sliderValue"
                   show-navigator="true"
                   navigator-from="4"
                   navigator-to="16"
                ></rg-slider>

        <p class="bounded-value">Slider value: <b> {{sliderValue}}</b></p>
    </div>

    <div class="exp-step" ng-if="true">
        <i>Example without navigator and step <br><br></i>
        <rg-slider tracker-class="my-tracker rg-tracker-with-animation"
                   navigator-class="my-navigator"
                   bound-var="sliderValue"

                ></rg-slider>

        <p class="bounded-value">Slider value: <b> {{sliderValue}}</b></p>
    </div>

    <div class="exp-step" ng-if="true">
        <i>Example without navigator with step <br><br></i>
        <rg-slider tracker-class="my-tracker rg-tracker-with-animation"
                   navigator-class="my-navigator"
                   bound-var="sliderValue"
                   step="15"
                ></rg-slider>

        <p class="bounded-value">Slider value: <b> {{sliderValue}}</b></p>
    </div>
</div>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  



        <!-- build:js({.tmp,app}) rg-slider.min.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/rgslider.js"></script>
        <!-- endbuild -->

  </body>
</html>
